<div class="bg-secondary m-12 rounded-lg p-6 max-w-3xl mx-auto">
  <div class="bg-base-100 p-8 rounded-lg max-w-3xl mx-auto">

    <div class="flex items-center">
      <h1 class="text-3xl text-accent mr-4">クイズタイトル</h1>
    </div>
    <button class="btn btn-sm bg-html text-sm text-white font-bold text-center text-nowrap mt-2">HTML</button>
    <button class="btn btn-sm bg-css text-sm text-white font-bold text-center text-nowrap mt-2 ml-2">CSS</button>
    <h2 class="mt-12 text-accent">問題</h2>
    <p class="text-sm max-w-2xl mx-auto">
      問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文問題文
    </p>
    <div class="mt-12 flex gap-2 justify-center max-w-2xl mx-auto">
      <button class="btn flex-1 bg-secondary text-sm font-bold text-center text-nowrap mt-2 py-2 px-4">
        <i class="fa-solid fa-x text-md text-blue-500"></i> 選択肢1
      </button>
      <button class="btn flex-1 bg-secondary text-sm font-bold text-center text-nowrap mt-2 py-2 px-4">
        <i class="fa-regular fa-circle text-md text-red-500"></i> 選択肢2
      </button>
    </div>
    <div class="mt-2 flex gap-2 justify-center max-w-2xl mx-auto">
      <button class="btn flex-1 bg-secondary text-sm font-bold text-center text-nowrap mt-2 py-2 px-4">
        <i class="fa-solid fa-x text-md text-blue-500"></i> 選択肢3
      </button>
      <button class="btn flex-1 bg-secondary text-sm font-bold text-center text-nowrap mt-2 py-2 px-4">
        <i class="fa-regular fa-x text-md text-blue-500"></i> 選択肢4
      </button>
    </div>
    <div class="mt-12 bg-secondary h-64 flex items-center justify-center rounded">
      <p class="text-accent text-center">問題用画像</p>
    </div>
    <div class="relative flex items-center w-full mt-16 mb-8">
      <div class="absolute left-1/2 transform -translate-x-1/2">
        <button type="submit" class="text-white bg-accent hover:opacity-70 rounded-lg text-lg px-5 py-2.5 flex items-center justify-center gap-2">
          回答する
        </button>
      </div>
      <div class="absolute right-0">
        <button type="submit" class="btn-ghost text-accent rounded-lg text-lg flex items-center justify-center gap-2">
          <span class="material-icons">chevron_right</span>
          解説ページへ
        </button>
      </div>
    </div>
  </div>
</div>
