<div class="flex flex-wrap gap-3 items-center justify-center lg:md:justify-between max-w-[1200px]">
  <% if @quizzes.any? %>
    <div class="w-full">
      <div class="bg-primary w-fit p-3 text-white text-xl my-5">
        <%= @user.name %>が投稿したクイズ一覧
      </div>
    </div>
    <% @quizzes.each do |quiz| %>
      <%= render partial: "quizzes/lg_card", locals: { quiz: quiz } %>
    <% end %>
  <% else %>
    <div class="w-full">
      <p class="text-gray-500 text-lg">まだクイズが投稿されていません。</p>
    </div>
  <% end %>
</div>
<%= paginate @quizzes %>
