<div class="bg-secondary fixed bottom-0 w-full">
  <div class="ml-5 mx-auto flex justify-between items-center p-4">
    <div class="flex space-x-4">
      <%= link_to 'お問い合わせ', new_contacts_path, class: 'text-primary font-bold' %>
      <%= link_to '利用規約', terms_of_services_path, class: 'text-primary font-bold' %>
      <%= link_to 'プライバシーポリシー',privacy_policies_path, class: 'text-primary font-bold' %>
    </div>
    <div class="flex items-center space-x-2 mr-5">
      <p class="text-sm text-primary font-bold mr-5">© 2024 Programming Question. All rights reserved.</p>
      <%= image_tag 'duck_face.png', class: 'w-10 h-10' %>
    </div>
  </div>
</div>
