<!-- app/views/test/index.html.erb -->
<h1>Test Page</h1>
<p>This is a test page to verify that the Rails app is working correctly!</p>

<!-- Optionally, you can add a link to navigate back to the home page -->
<%= link_to 'Back to Home', root_path %>