<div class="bg-white">
  <div class="flex flex-col justify-center items-center mt-6 mb-6 mx-72">
    <h1 class="text-3xl font-bold text-accent text-center">ユーザープロフィール編集</h1>
  </div>

  <div class="flex bg-secondary rounded justify-center mx-48 mb-12">
    <div class="flex flex-col w-full mt-6 mb-6 mx-24">
      <div class="space-y-4">
        <div class="flex flex-col bg-white rounded p-6">
          <h2 class="block mb-2 text-lg text-nowrap font-medium text-primary">ユーザーネーム</h2>
          <input type="text" class="bg-white border border-gray-300 text-sm w-full rounded-lg forcus:ring-primary focus:border-primary block p-2.5" required />
        </div>

        <div class="flex items-center bg-white rounded p-6 gap-8">
            <h2 class="block text-lg text-nowrap font-medium text-primary">アバター画像</h2>
            <input type="file" class="file-input file-input-bordered file-input-primary file-input-sm w-full" />
        </div>

        <div class="flex flex-col bg-white rounded p-6">
          <h2 class="block mb-2 text-lg text-nowrap font-medium text-primary">自己紹介文</h2>
          <input type="text" class="bg-white border border-gray-300 text-sm w-full rounded-lg forcus:ring-primary focus:border-primary block p-2.5 h-20"  required />
        </div>

        <div class="flex flex-col bg-white rounded p-6">
          <h2 class="block mb-2 text-lg text-nowrap font-medium text-primary">勉強している言語</h2>
          <input type="text" class="bg-white border border-gray-300 text-sm w-full rounded-lg forcus:ring-primary focus:border-primary block p-2.5" required />
        </div>

        <div class="flex flex-col bg-white rounded p-6">
          <h2 class="block mb-2 text-lg text-nowrap font-medium text-primary">Xリンク</h2>
          <input type="text" class="bg-white border border-gray-300 text-sm w-full rounded-lg forcus:ring-primary focus:border-primary block p-2.5" required />
        </div>

        <div class="flex flex-col bg-white rounded p-6">
          <h2 class="block mb-2 text-lg text-nowrap font-medium text-primary">Gitリンク</h2>
          <input type="text" class="bg-white border border-gray-300 text-sm w-full rounded-lg forcus:ring-primary focus:border-primary block p-2.5" required />
        </div>
            <!-- 更新ボタン -->
            <!-- 更新ボタン -->
        <div class="flex justify-center mt-12">
            <button class="btn btn-lg text-white text-center bg-accent text-3xl font-bold rounded-lg w-3/4 h-20">
                更新する
            </button>
        </div>
        <!-- 退会ボタン -->
        <div class="flex justify-center mt-4">
            <button class="btn btn-lg text-white text-center bg-primary text-2xl font-bold rounded-lg w-3/4 h-16">
                退会する
            </button>
        </div>
        <!-- 注意文 -->
        <div class="text-right mt-2 w-3/4 mx-auto">
            <p class="text-sm text-gray-600">
                ※退会すると全てのデータが削除されます。
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

