<div class="bg-secondary grid-item rounded p-6 flex-1 my-1">
  <p class="text-accent text-lg">クイズタイトル</p>
  <div class="flex gap-1 items-center">
    <%= image_tag 'profile_sample.png', class: 'w-6 h-6 rounded-full object-cover border border-primary border--300'%>
    <p>作者のユーザーネーム</p>
  </div>
  <button class="btn btn-sm bg-html flex-1 text-sm text-white font-bold text-center text-nowrap mt-2">(仮)HTML</button>
  <div class="card-actions justify-end"></div>
</div>
