<h1>(仮)app/views/quiz_posts/index.html.erb</h1>
<%= button_to 'サインイン', new_user_registration_path, method: :get, class: 'signin-button' %>
<%= button_to 'ログイン', new_user_session_path, method: :get, class: 'login-button' %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout-button' %>
